<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>404 Error</title>
    <meta name="description" content="404 Error"/>
    <meta name="keywords" content="404, error"/>
    <link rel="stylesheet" type="text/css" href="/public/css/error.css"/>
</head>
<body>
<div class="wrapper">
    <div class="content">
        <div id="whoops">
            <img src="/public/images/404_dark.png" alt="">
        </div>
        <p>抱歉，您不是管理员，无法访问后台<br/>
            <a href="/" style="color: lightseagreen">请点击回到主页</a></p>
    </div>
</div>
</div>
</body>
</html>