{{extend './layout.html'}}

{{block content}}

<div class="listBox">
    <h1>{{content.title}}</h1>
    <p class="colDefault">
        作者：<span class="colInfo">{{content.user.username}}</span> -
        发布时间：<span class="colInfo">{{content.addTime}}</span> -
        阅读：<span class="colInfo">{{content.views}}</span> -
        评论：<span class="colInfo">{{content.comments.length}}</span>
    </p>
    <dfn>
        {{content.content}}
    </dfn>
</div>

<div class="listBox message">
    <h3 class="textLeft"><strong>评论</strong> <span class="em">一共有 <em id="messageCount">0</em> 条评论</span>
    </h3>

    {{if userInfo}}
    <p class="textLeft">用户：{{userInfo.username}}</p>
    {{/if}}

    {{if userInfo}}
    <p class="textLeft clear">
    <form id="commentInfo">
        <textarea id="messageContent" name="comment"></textarea>
        <input type="hidden" id="contentId" value="{{content._id.toString()}}" name="contentId">
        <input type="button" id="messageBtn" class="submit" value="提交">
    </form>
    </p>
    {{else}}
    <input type="hidden" id="contents" value="{{content._id.toString()}}" name="contents">
    <p class="bgDanger" style="line-height: 30px;">请登录发表评论！</p>
    {{/if}}

    <div class="messageList">
       <!--评论内容区域-->
    </div>

    <div class="pager">
        <ul class="clear">
            <li class="previous">
                <a href="">上一页</a>
            </li>
            <li></li>
            <li class="next">
                <a href="">下一页</a>
            </li>
        </ul>
    </div>


</div>

{{/block}}